@import '../../scss-utilities/header';
@import '../../scss-utilities/footer';
@import '../../scss-utilities/global';
@import "../../scss-utilities/tailwind";
@import '../../scss-utilities/breakpoints';


.Mainn {
    display: grid;
    grid-column: center-start/center-end;
    width: 100%;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .container-mdd {
        text-align: center;

        .search-heading {
            font-size: 30px;
            font-family: Mulish;
            font-weight: 700;
            line-height: 2.8rem;
            letter-spacing: 0.1rem;
            color: #4c4c4c;
        }

        .description {
            margin: 40px 0px;
            color: #4c4c4c;
            font-weight: 300;
            font-family: Mulish;
            font-size: 16px;
            line-height: 26px;
            letter-spacing: 1px;
            max-width: 700px;
        }

        .search-form {
            position: relative;

            input {
                width: 100%;
                padding: 20px 20px 20px 65px;
                border: none;
                border-radius: 4.8px;
                outline: none;
                color: #4c4c4c;
                background-color: #e9e9e9;
                box-shadow: 0px 4px 8px 0px rgba(122, 129, 168, 0.1490196078);
                font-size: 14px;
                font-weight: 100;
                font-family: "Mulish", sans-serif;
                letter-spacing: 0.5px;
                font-style: italic;

                &::placeholder {
                    color: #4c4c4c;
                    font-weight: 100;
                    font-family: "Mulish", sans-serif;
                    letter-spacing: 0.5px;
                    font-style: italic;
                    font-size: 14px;
                }

            }

            svg {
                position: absolute;
                top: 38%;
                left: 4%;
            }
        }

        .buttons {
            display: flex;
            justify-content: center;
            margin: 3rem 0;
            gap: 1rem;
            flex-wrap: wrap;
            position: relative;

            button {
                padding: 10px 20px;
                background-color: transparent;
                width: 27%;
                border: none;
                border-bottom: 1px solid #737373;
                cursor: pointer;
                font-size: 12px;
                font-family: "Mulish", sans-serif;
                line-height: 19px;
                letter-spacing: 0.6px;

                &:hover {
                    color: #0100c8;
                    font-weight: 700;
                }
            }

            .svg-container-mdd {
                position: absolute;
                transform: translateX(-50%) translateY(100%);
                left: 19%;
                top: -40px;
                opacity: 0;
                width: 40px;
                height: 30px;
                transition: all 0.5s ease-in-out;
            }

            .svg-container-mdd.show {
                transform: translateX(-50%) translateY(0%);
                opacity: 1;
            }

        }
    }
}

@media screen and (max-width:950px) {
    .Mainn {

        .container-mdd {
            padding: 10px;

            .search-heading {
                font-size: 25px;
                font-family: Mulish;
                font-weight: 700;
                line-height: 2.8rem;
                letter-spacing: 0.1rem;
                color: #4c4c4c;
            }

            .description {
                margin: 20px 0px;
                color: #4c4c4c;
                font-weight: 300;
                font-family: Mulish;
                font-size: 1.5rem;
                line-height: 25px;
                letter-spacing: 1px;
                max-width: 600px;
            }

            .search-form {

                input {
                    width: 100%;
                    padding: 20px 20px 20px 65px;
                    border: none;
                    border-radius: 4.8px;
                    outline: none;
                    color: #4c4c4c;
                    background-color: #e9e9e9;
                    box-shadow: 0px 4px 8px 0px rgba(122, 129, 168, 0.1490196078);
                    font-size: 14px;
                    font-weight: 100;
                    font-family: "Mulish", sans-serif;
                    letter-spacing: 0.5px;
                    font-style: italic;

                    &::placeholder {
                        color: #4c4c4c;
                        font-weight: 100;
                        font-family: "Mulish", sans-serif;
                        letter-spacing: 0.5px;
                        font-style: italic;
                        font-size: 14px;
                    }

                }

                svg {
                    position: absolute;
                    top: 38%;
                    left: 4%;
                }
            }

            .buttons {
                display: flex;
                justify-content: center;
                margin: 2rem 0;
                gap: 1rem;
                flex-wrap: wrap;
                position: relative;

                button {
                    padding: 10px 20px;
                    background-color: transparent;
                    width: 35%;
                    border: none;
                    border-bottom: 1px solid #737373;
                    cursor: pointer;
                    font-size: 12px;
                    font-family: "Mulish", sans-serif;
                    line-height: 19px;
                    letter-spacing: 0.6px;

                }

                .svg-container-mdd {
                    position: absolute;
                    transform: translateX(-50%) translateY(100%);
                    left: 11%;
                    top: -32px;
                    opacity: 0;
                    width: 35px;
                    height: 30px;
                    transition: all 0.5s ease-in-out;
                }

            }
        }
    }
}

@media screen and (max-width:560px) {
    .Mainn {

        .container-mdd {
            padding: 15px;

            .search-heading {
                font-size: 20px;
                font-family: Mulish;
                font-weight: 700;
                line-height: 2.8rem;
                letter-spacing: 0.1rem;
                color: #4c4c4c;
            }

            .description {
                margin: 15px 0px;
                color: #4c4c4c;
                font-weight: 300;
                font-family: Mulish;
                font-size: 1.4em;
                line-height: 15px;
                letter-spacing: 0.2px;
                max-width: 600px;

            }

            .search-form {

                input {
                    width: 100%;
                    padding: 15px 15px 15px 45px;
                    border: none;
                    border-radius: 4.8px;
                    outline: none;
                    color: #4c4c4c;
                    background-color: #e9e9e9;
                    box-shadow: 0px 4px 8px 0px rgba(122, 129, 168, 0.1490196078);
                    font-size: 14px;
                    font-weight: 100;
                    font-family: "Mulish", sans-serif;
                    letter-spacing: 0.5px;
                    font-style: italic;

                    &::placeholder {
                        color: #4c4c4c;
                        font-weight: 100;
                        font-family: "Mulish", sans-serif;
                        letter-spacing: 0.5px;
                        font-style: italic;
                        font-size: 14px;
                    }

                }

                svg {
                    position: absolute;
                    top: 38%;
                    left: 4%;
                }
            }

            .buttons {
                display: flex;
                justify-content: center;
                margin: 2rem 0;
                gap: 1rem;
                flex-wrap: wrap;
                position: relative;

                button {
                    padding: 8px 10px;
                    background-color: transparent;
                    width: 40%;
                    border: none;
                    border-bottom: 1px solid #737373;
                    cursor: pointer;
                    font-size: 9px;
                    font-family: "Mulish", sans-serif;
                    line-height: 12px;
                    letter-spacing: 0.5px;
                }

                .svg-container-mdd {
                    position: absolute;
                    transform: translateX(-50%) translateY(100%);
                    left: 8%;
                    top: -25px;
                    opacity: 0;
                    width: 25px;
                    height: 30px;
                    transition: all 0.5s ease-in-out;
                }

            }
        }
    }
}

.icon-container {
    display: none !important;
}

.footer {
    display: none;
}

.footer-search {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 18px;
    background-color: #0100c8;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;

    .icons {
        display: flex;
        justify-content: center;
        gap: 3rem;

        @include mobile {
            gap: 2rem;
        }

        svg {
            width: 20px;
            height: 20px;
            fill: #dfdfdf;
            transition: fill 0.3s ease;
        }

    }
}